/* Estilos para la sección 'Acerca' */
body {
  background: #151515;
  color: #fff;
  font-family: 'Monrope', sans-serif;
  background-image: linear-gradient(to right, #000000, #1d1911, #353023);
  background-size: cover;
  background-position: center center;
}

#acerca .custom-row {
  display: flex;
  flex-wrap: wrap;
}

#acerca .contenedor-interior .custom-row h1{
  font-size: 8.4375rem;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'dietherRound', serif;
  font-weight: bold;
}


#acerca .contenedor-interior {
  text-align: right;
}

#acerca .contenedor-interior h1 {
  color: white;
  font-size: 8.4375rem;
}

#acerca .contenedor-interior h2 {
  color: #4bc0c8;
  font-size: 2.1875rem;
}

#acerca .contenedor-interior p {
  font-size: 1.25rem;
  color: #FFFFFF;
  line-height: 1.5;
}

#acerca .vector {
  width: 50%;
  max-width: 600px;
  margin-right: auto;
}

/* Media Queries para adaptar estilos en dispositivos más pequeños */
@media (max-width: 1024px) {
  #acerca .contenedor-interior .custom-row h1 {
    font-size: 4.6875rem;
  }

  #acerca .contenedor-interior h2 {
    font-size: 1.875rem;
  }

  #acerca .contenedor-interior p {
    font-size: 1rem;
  }

  #acerca .vector {
    width: 60%;
    margin-top: 20px;  /* Espacio adicional para separar del texto */
  }
}

@media (max-width: 768px) {
  #acerca {
    padding-top: 20px;  /* Añade padding superior para subir todo el contenido */
    padding-bottom: 120px;
  }
  
  #acerca .contenedor-interior .custom-row h1 {
    font-size: 4.125rem;
  }

  #acerca .contenedor-interior h2 {
    font-size: 1.5rem;
  }

  #acerca .contenedor-interior p {
    font-size: 0.875rem;
  }

  #acerca .vector {
      width: 60%; /* Ajuste del ancho para maximizar visibilidad */
      margin-bottom: 30px;  /* Asegurar espacio debajo antes de otro contenido */
  }
}

@media (max-width: 480px) {
  #acerca {
    padding-top: 20px;  /* Añade padding superior para subir todo el contenido */
    padding-bottom: 120px;
  }
  #acerca .contenedor-interior .custom-row h1 {
    font-size: 3.25rem;
  }

  #acerca .contenedor-interior h2 {
    font-size: 1.125rem;
  }

  #acerca .contenedor-interior p {
    font-size: 0.75rem;
  }
  #acerca .vector {
    width: 80%; /* Ajustar el ancho para mejor visualización */
    margin-bottom: 30px;  /* Espacio debajo para evitar que el contenido esté demasiado junto */
  }
}

@media (max-width: 360px) {
  #acerca {
    padding-top: 20px;  /* Añade padding superior para subir todo el contenido */
    padding-bottom: 120px;
  }
  #acerca .contenedor-interior .custom-row h1 {
    font-size: 2.25rem;
  }

  #acerca .contenedor-interior h2 {
    font-size: 1.125rem;
  }

  #acerca .contenedor-interior p {
    font-size: 0.75rem;
  }

  #acerca .vector {
    width: 90%; /* Ajuste del ancho para maximizar visibilidad */
    margin-top: 20px;  /* Mantener un espacio adecuado del texto */
    margin-bottom: 20px;  /* Asegurar espacio debajo antes de otro contenido */
  }
}


