/* Estilos base */
body {
  background: linear-gradient(to right, #000000, #1d1911, #353023);
  background-size: cover;
  background-position: center center;
  font-family: 'Monrope', sans-serif;
  color: white;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'dietherRound', serif;
  font-weight: bold;
}

/* Sección Acerca */
#acerca {
  padding: 60px 20px;
}

#acerca .contenedor-interior {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

#acerca .vector {
  width: 100%;
  max-width: 400px;
}

/* Tipografía y estilos */
#acerca h2 {
  font-size: 2rem;
  color: #4bc0c8;
  text-align: right;
  padding-right: 10px;
}

#acerca h1 {
  font-size: 7rem;
  line-height: 1.1;
  text-align: right;
  color: white;
  max-width: 600px;
  overflow-wrap: break-word;
}

#acerca p {
  font-size: 1.25rem;
  line-height: 1.6;
  font-family: 'Manrope', sans-serif;
  text-align: right;
  padding-right: 10px;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.7);
}

#acerca .p-2{
  color: white;
}

#acerca .btn-index {
  display: flex;
  margin-left: auto;
  padding-right: 10px;
}



@media (max-width: 1024px) {
  #acerca h1 {
    font-size: 4.6875rem;
  }
  #acerca h2 {
    font-size: 1.875rem;
    margin-top: 20px; /
  }
  #acerca p {
    font-size: 1rem;
  }
  #acerca .vector {
    max-width: 300px;
  }

  #acerca .btn-index {
    font-size: 1rem;
    width: 100%;
    text-align: center;
  }

  #proyectos2 .btn-index {
    font-size: 1rem;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 768px) {
  #acerca h1 {
    font-size: 3.5rem;
  }
  #acerca h2 {
    font-size: 1.5rem;
    margin-top: 35px;
  }
  #acerca p {
    font-size: 0.95rem;
  }
  #acerca .vector {
    margin: 20px auto;
    max-width: 70%;
  }

  #acerca .btn-index {
    font-size: 0.9rem;
    width: 100%;
    text-align: center;
  }

  #proyectos2 .btn-index {
    font-size: 0.9rem;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 480px) {
  #acerca h1 {
    font-size: 2.7rem;
  }
  #acerca h2 {
    font-size: 1.2rem;
    margin-top: 30px;
  }
  #acerca p {
    font-size: 0.85rem;
  }
  #acerca .vector {
    margin: 0 auto;
    max-width: 70%;
    padding-bottom: 15%;
  }

  #acerca .btn-index {
    font-size: 0.9rem;
    width: 100%;
    text-align: center;
  }

  #proyectos2 .btn-index {
    font-size: 0.9rem;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 360px) {
  #acerca h1 {
    font-size: 2.2rem;
  }
  #acerca h2 {
    font-size: 1rem;
    margin-top: 20px;
  }
  #acerca p {
    font-size: 0.75rem;
  }
  #acerca .btn-index {
    font-size: 0.9rem;
    width: 100%;
    text-align: center;
  }

  #proyectos2 .btn-index {
    font-size: 0.9rem;
    width: 100%;
    text-align: center;
  }
}
