/* Reset CSS y configuración inicial */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos básicos y color de fondo */
body {
  background: #151515;
  color: #fff;
  font-family: 'Monrope', sans-serif;
  background-image: linear-gradient(to right, #000000, #1d1911, #353023);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 10px 80%; 
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'dietherRound', serif;
  font-weight: bold;
}

.contenedores .card-body {
  padding: 20px;
}

.contenedores .card-title {
  color: #87CEFA;
  font-size: 30px;
  margin-bottom: 45px;
}

.contenedores .card-title2 {
  color: white;
  font-size: 75px;
  margin-bottom: 45px;
}

.contenedores .card-text {
  font-size: 20px;
}

.contenedores .btn-primary {
  font-size: 16px;
}

.card-title.h2 {
  color: #FFFFFF;
  font-size: 24px;
}

.steam-icon-container {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  color: #ffffff;
  z-index: 10;
}

#navegador a, #footer p {
  color: #fff;
}

/* Media Queries para adaptación a diferentes tamaños de pantalla */
@media (max-width: 1024px) {
  .contenedores .card-title {
    font-size: 24px;
  }

  .contenedores .card-title2 {
    font-size: 50px;
  }

  .contenedores .card-text {
    font-size: 18px;
  }

  .card-title.h2 {
    font-size: 20px;
  }

  .steam-icon-container {
    font-size: 50px;
  }
}

@media (max-width: 768px) {
  body {
    background-position: center; /* Centrar el fondo para mejor visualización en dispositivos móviles */
  }

  .contenedores .card-title {
    font-size: 20px;
  }

  .contenedores .card-title2 {
    font-size: 40px;
  }

  .contenedores .card-text, .card-title.h2 {
    font-size: 16px;
  }

  .contenedores .btn-primary {
    font-size: 14px;
  }

  .steam-icon-container {
    top: 70%;
    font-size: 40px;
  }
}

@media (max-width: 480px) {
  .contenedores .card-title, .contenedores .card-title2, .contenedores .card-text, .card-title.h2 {
    text-align: center; /* Centrar texto para mejorar la legibilidad en pantallas pequeñas */
  }

  .steam-icon-container {
    display: none; /* Ocultar el icono en dispositivos muy pequeños */
  }
}
