/* Reset CSS y configuración inicial */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos básicos y color de fondo */
body {
  background: #151515;
  color: #fff;
  font-family: 'Monrope', sans-serif;
  background-image: linear-gradient(to right, #000000, #1d1911, #353023);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'dietherRound', serif;
  font-weight: bold;
}

.contenedores .card-body {
  padding: 20px;
}

.contenedores .card-title {
  color: #87CEFA;
  font-size: 30px;
  margin-bottom: 20px;
}

.contenedores .card-title2 {
  color: white;
  font-size: 75px;
  margin-bottom: 20px;
}

.contenedores .card-text {
  font-size: 20px;
}

.contenedores .btn-primary {
  font-size: 16px;
}

.card-title.h2 {
  color: #FFFFFF;
  font-size: 24px;
}

.steam-icon-container {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  color: #ffffff;
  z-index: 10;
}

#navegador a, #footer p {
  color: #fff;
}

/* Media Queries para adaptar el diseño a diferentes tamaños de pantalla */
@media (max-width: 1024px) {
  .contenedores .card-title {
    font-size: 2.5rem;
  }

  .contenedores .card-title2 {
    font-size: 4rem;
  }

  .contenedores .card-text, .contenedores .btn-primary, .card-title.h2 {
    font-size: 1.25rem;
  }

  .steam-icon-container {
    font-size: 50px;
  }
}

@media (max-width: 768px) {
  .contenedores .card-title {
    font-size: 2rem;
  }

  .contenedores .card-title2 {
    font-size: 3.5rem;
  }

  .contenedores .card-text, .contenedores .btn-primary, .card-title.h2 {
    font-size: 1rem;
  }

  .steam-icon-container {
    display: none; /* Ocultar el icono para evitar sobrecarga visual en pantallas pequeñas */
  }
}

@media (max-width: 480px) {
  body {
    background-position: top center; /* Ajustar la posición del fondo para mejor visibilidad */
  }

  .contenedores .card-title, .contenedores .card-title2, .contenedores .card-text {
    text-align: center; /* Mejor alineación y presentación para leer en dispositivos pequeños */
    font-size: 1.5rem; /* Uniformidad en el tamaño del texto */
  }

  .contenedores .btn-primary {
    width: 100%; /* Botones de ancho completo para facilitar la interacción */
    padding: 12px 0; /* Ajuste del padding */
  }

  .card-title.h2 {
    font-size: 1.2rem;
  }
}

@media (max-width: 360px) {
  .contenedores .card-title, .contenedores .card-title2, .contenedores .card-text {
    font-size: 1.2rem; /* Ajuste adicional para pantallas extremadamente pequeñas */
  }

  .contenedores .btn-primary {
    padding: 10px 0; /* Ajuste del padding para facilitar la interacción */
  }

  .card-title.h2 {
    font-size: 1rem; /* Ajuste del tamaño de la fuente para una mejor legibilidad */
  }

  #footer p {
    font-size: 0.875rem; /* Reduce el tamaño de la fuente para adaptar el texto al espacio disponible */
  }
}