/* Estilos para las tarjetas dentro de contenedores */
.contenedores .card {
  background-color: rgba(54, 65, 65, 0.8); /* Fondo oscuro con transparencia */
  border-radius: 100px; /* Bordes más redondeados */
  border: 8px solid transparent; /* Borde transparente para no mostrar color de borde sólido */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Sombra suave para destacar las tarjetas */
  color: white; /* Texto en color blanco */
  margin: 20px; /* Aumenta significativamente el margen inferior para separar más las tarjetas */
  padding: 15px 30px; /* Padding adecuado para tamaño interno */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-image: url('/img/BordeRGB.png') 1 stretch; /* Usa la imagen como borde */
  position: relative; /* Establecer posición relativa para contener elementos absolutos como el icono */
}

.contenedores .card-icon {
  position: absolute;
  top: -15%; /* Porcentaje basado en la altura del contenedor para ajuste dinámico */
  left: 50%;
  transform: translate(-50%, -50%);
  width: 22vw; /* Ancho basado en el ancho del viewport para escalar automáticamente */
  height: auto; /* Altura automática para mantener la proporción */
  max-width: 100%; /* Asegura que el ícono no sobrepase el ancho de la tarjeta */
}





/* Botones estilizados dentro de contenedores */
.contenedores .btn-primary {
  background-color: #000; /* Botón de fondo negro */
  color: #fff; /* Texto del botón en blanco */
  border: none; /* Sin bordes para un estilo limpio */
  padding: 10px 20px; /* Padding generoso para hacer el botón más fácil de clicar */
  font-size: 18px; /* Tamaño de fuente grande para facilidad de lectura */
  border-radius: 5px; /* Bordes redondeados para un look moderno */
  cursor: pointer; /* Cursor tipo puntero para indicar que es clickeable */
  transition: background-color 0.3s; /* Transición suave al cambiar de color */
}


/* Estilos para los títulos y textos dentro de las tarjetas */
.contenedores .card-title {
  font-size: 30px; /* Ajuste de tamaño de fuente para los nombres */
  margin-bottom: 10px; /* Reducir el espacio entre el título y el subtítulo */
  margin-top: 60px; /* Reducir el espacio entre el título y el subtítulo */
}

.contenedores .card-title2 {
  color: #FFFFFF; /* Blanco para títulos principales */
  font-size: 50px; /* Tamaño de fuente más grande para títulos principales */
  margin-bottom: 5px; /* Reducir el espacio entre el título y el subtítulo */

}

.contenedores .card-text {
  font-size: 18px; /* Tamaño de fuente para los textos descriptivos */
  margin-bottom: 10px; /* Reducir el espacio entre el título y el subtítulo */
}

.contenedores .card-title.proyects-title {
  color: #BABAED; /* Cambia este valor al color deseado */
}

.contenedores .card-title.proyects-title2 {
  color: #FCD569; /* Color celeste para los nombres */
}

/* Botones de redes sociales dentro de las tarjetas */
.btn-social {
  padding: 5px 20px; /* Padding reducido para los botones */
  border-radius: 50px; /* Bordes más redondeados */
}

.btn-social i {
  font-size: 20px; /* Tamaño del icono dentro del botón */
}

/* Estilo básico del botón */
.contenedores .btn-primary {
  font-size: 18px; /* Tamaño de fuente más grande para una mejor interacción */
  background-image: linear-gradient(to right, #4bc0c8,  #c779d0 , #feac5e); /* Fondo rosa inicial */
  color: White; /* Color del texto */
  border: none; /* Remueve el borde predeterminado */
  border-radius: 25px; /* Bordes más redondeados */
  transition: all 0.3s ease; /* Transición suave para efectos de fondo y transformaciones */
}

/* Estilo del botón al pasar el mouse */
.contenedores .btn-primary:hover {
  background-image: linear-gradient(to right,  #feac5e, #c779d0, #4bc0c8); /* Degradado de rosa a celeste */
  color: black; /* Cambia el color del texto a algo más oscuro para contraste */
  transform: scale(1.1); /* Hace que el botón crezca */
}

.btn-social i {
  font-size: 24px; /* Asegura que el tamaño del icono sea adecuado */
  border-radius: 30px; /* Bordes más redondeados para un aspecto suave */
  transition: all 0.3s ease; /* Transición suave para efectos de hover */
}

/* Media Queries para adaptación a diferentes tamaños de pantalla */
@media (max-width: 1024px) {
  .contenedores .card {
    margin: 30px; /* Reducir el margen para pantallas más pequeñas */
    padding: 20px; /* Ajustar el padding interno */
    border-radius: 50px; /* Bordes menos redondeados para ajuste visual */
    border-width: 6px; /* Borde más delgado */
  }

  .contenedores .card-icon {
    width: 5vw; /* Ancho basado en el ancho del viewport para escalar automáticamente */
    height: auto; /* Altura automática para mantener la proporción */

  }

  .contenedores .card-title {
    font-size: 25px; /* Reducción del tamaño de fuente para títulos */
  }

  .contenedores .card-title2 {
    font-size: 40px; /* Tamaño de fuente ajustado para subtítulos más grandes */
  }

  .contenedores .card-text {
    font-size: 16px; /* Tamaño de fuente más pequeño para textos descriptivos */
  }

  .contenedores .btn-primary {
    padding: 8px 16px; /* Reducir el padding para botones */
    font-size: 16px; /* Reducir el tamaño de la fuente para mejor ajuste */
    width: 180px; /* Ancho ajustado para el botón */
  }

  .contenedores .card-icon {
    top: -180px; /* Ajustar la posición del ícono */
    width: 40%; /* Reducir el tamaño del ícono */
  }

  .btn-social i {
    font-size: 18px; /* Reducir el tamaño del ícono de redes sociales */
  }
}

@media (max-width: 768px) {
  .contenedores .card {
    margin: 50px; /* Margen más reducido */
    padding: 25px; /* Menor padding */
    border-radius: 30px; /* Radio de borde más suave */
    flex-direction: column; /* Mantener la dirección de la columna */
  }

  .contenedores .card-icon {
    width: 30vw; /* Ancho basado en el ancho del viewport para escalar automáticamente */
    top: 1%; 
  }

  .contenedores .card-title, .contenedores .card-title2, .contenedores .card-text {
    text-align: center; /* Centrar el texto en dispositivos más pequeños */
  }

  .contenedores .btn-primary {
    width: 100%; /* Botones de ancho completo para mejor accesibilidad */
    margin: 11px; /* Ajuste del margen para separación */
  }

  .btn-social {
    width: 100%; /* Botones sociales de ancho completo */
  }
}

@media (max-width: 480px) {
  .contenedores .card {
    margin: 10px; /* Margen aún más pequeño */
    padding: 10px; /* Padding reducido */
  }

  .contenedores .card-title {
    font-size: 20px; /* Tamaño de fuente más pequeño para títulos */
  }

  .contenedores .card-title2 {
    font-size: 30px; /* Tamaño de fuente más pequeño para subtítulos principales */
  }

  .contenedores .card-text {
    font-size: 14px; /* Tamaño de fuente reducido para descripciones */
  }

  .contenedores .btn-primary, .btn-social {
    padding: 5px 10px; /* Padding más pequeño para todos los botones */
    font-size: 14px; /* Tamaño de fuente más pequeño para textos de botón */
  }
}
