

.button-container {
  position: absolute;
  top: 88%; /* Ajustado de 50% a 60% para mover los botones más abajo */
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  width: 100%;
}

.btn-primary {
  background-color: #000; /* Fondo negro */
  color: white; /* Texto en color blanco */
  border: 1px solid #c779d0; /* Sin borde */
  border-radius: 50px; /* Bordes redondeados */
  margin: 10px; /* Margen alrededor del botón */
  transition: all 0.3s ease; /* Transición suave para efectos de hover u otros cambios */
  padding: 16px 32px; /* Padding para hacer el botón más grande y cómodo al clic */
  width: 200px; /* Ancho fijo para todos los botones */
}


.btn-primary:hover {
  background-image: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8);
  color: black;
  transform: scale(1.1);
}


/* Estilo básico del botón */
.contenedores .btn-primary {
  font-size: 18px; /* Tamaño de fuente más grande para una mejor interacción */
  background-image: linear-gradient(to right, #4bc0c8,  #c779d0 , #feac5e); /* Fondo rosa inicial */
  color: White; /* Color del texto */
  border: none; /* Remueve el borde predeterminado */
  transition: all 0.3s ease; /* Transición suave para efectos de fondo y transformaciones */
}

/* Estilo del botón al pasar el mouse */
.contenedores .btn-primary:hover {
  background-image: linear-gradient(to right,  #feac5e, #c779d0, #4bc0c8); /* Degradado de rosa a celeste */
  color: black; /* Cambia el color del texto a algo más oscuro para contraste */
  transform: scale(1.1); /* Hace que el botón crezca */
}

/* Estilo específico para los botones de redes sociales */
.btn-social {
  font-size: 24px; /* Tamaño del icono más grande */
  border-radius: 30px; /* Bordes más redondeados para un aspecto suave */
  transition: all 0.3s ease; /* Transición suave para efectos de hover */
}

.btn-social i {
  font-size: 24px; /* Asegura que el tamaño del icono sea adecuado */
  visibility: visible; /* Asegura que el icono sea siempre visible */
}

.btn-social:hover {
  transform: scale(1.1); /* Efecto de crecimiento al pasar el mouse */
  background-image: linear-gradient(to right, #4bc0c8,  #c779d0 , #feac5e); /* Degradado atractivo en hover */
  color: black; /* Cambio de color del icono para mejorar contraste en hover */
}

/* Ajustes para dispositivos móviles para los botones */
@media (max-width: 768px) {
  .button-container {
    top: 70%; /* Posición aún más baja para dispositivos móviles */
    flex-direction: column; /* Los botones se apilan verticalmente */
    gap: 10px; /* Espacio entre botones cuando están apilados */
  }

  .btn-primary {
    width: 90%; /* Los botones ocupan más ancho para facilitar la interacción táctil */
    margin-bottom: 10px; /* Espacio entre botones cuando están apilados */
  }

  .btn-social {
    font-size: 20px; /* Reduce el tamaño de la fuente para adaptarse a la pantalla */
    padding: 25px 55px; /* Ajusta el padding para mantener la proporción */
    width: auto; /* Ajusta el ancho automáticamente según el contenido */
  }

  .btn-social i {
    font-size: 20px; /* Ajusta el tamaño del ícono para mantener la proporción */
  }

}


@media (max-width: 480px) {
  .btn-social {
    font-size: 18px; /* Tamaño de fuente más pequeño para pantallas muy pequeñas */
    padding: 10px 20px; /* Reduce aún más el padding para adaptarse a pantallas pequeñas */
  }

  .btn-social i {
    font-size: 18px; /* Reduce el tamaño del ícono para mejorar la proporción */
  }
}

