.button-container {
  position: absolute;
  top: 88%; /* Posición ajustada para bajar los botones */
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  width: 100%;
}

.btn-primary {
  background-color: #000; /* Fondo negro */
  color: white; /* Texto en color blanco */
  border: 1px solid #c779d0; /* Borde sutil */
  border-radius: 50px; /* Bordes redondeados */
  margin: 10px; /* Espacio alrededor de cada botón */
  transition: all 0.3s ease; /* Transición suave al cambiar estilos */
  padding: 16px 32px; /* Padding generoso para comodidad al clicar */
  width: 200px; /* Ancho fijo para uniformidad */
}

.btn-primary:hover {
  background-image: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8); /* Gradiente dinámico al pasar el ratón */
  color: black; /* Cambio de color de texto al pasar el ratón */
  transform: scale(1.1); /* Efecto de crecimiento al pasar el ratón */
}

/* Media Queries para responsividad */
@media (max-width: 1024px) {
  .button-container {
    top: 85%; /* Ligeramente más alto para evitar solapamientos */
  }

  .btn-primary {
    padding: 12px 24px; /* Ligeramente más pequeño para ahorrar espacio */
    width: 180px; /* Ancho reducido */
  }
}

@media (max-width: 768px) {
  .button-container {
    flex-direction: column; /* Cambio a disposición vertical */
    top: 80%; /* Ajuste en la posición para dispositivos más pequeños */
    transform: translateY(-50%); /* Centrado verticalmente */
  }

  .btn-primary {
    width: 160px; /* Ajuste de ancho para pantallas más pequeñas */
    margin: 5px; /* Menor margen para compactar elementos */
  }
}

@media (max-width: 480px) {
  .button-container {
    top: 75%; /* Más ajustes para pantallas muy pequeñas */
  }

  .btn-primary {
    font-size: 14px; /* Reducción de tamaño de fuente */
    padding: 10px 20px; /* Reducción del padding */
    width: 140px; /* Ancho más pequeño */
  }
}
