.button-container {
  position: absolute;
  top: 85%; /* Ajustado para estar visible y accesible en todos los tamaños de pantalla */
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Ocupa todo el ancho para mantener la consistencia */
}

.btn-primary {
  background-color: #000; /* Fondo negro para contraste */
  color: white; /* Texto blanco para legibilidad */
  border: 1px solid #c779d0; /* Borde sutil que complementa el diseño */
  border-radius: 50px; /* Bordes redondeados para un aspecto moderno */
  margin: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Transición suave para cambios visuales */
  padding: 12px 24px; /* Padding proporcionado para mejor tacto */
  min-width: 180px; /* Ancho mínimo para mantener la forma */
  width: auto; /* Ancho automático para adaptarse al contenido */
}

.btn-primary:hover {
  background-image: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8); /* Gradiente atractivo al pasar el ratón */
  color: black; /* Cambio de color de texto para contraste */
  transform: scale(1.05); /* Efecto de crecimiento sutil */
}

/* Media Queries para adaptación en diferentes tamaños de pantalla */
@media (max-width: 1024px) {
  .btn-primary {
    padding: 10px 18px; /* Padding ligeramente ajustado */
  }
}

@media (max-width: 768px) {
  .button-container {
    top: 80%; /* Ajuste para optimizar visualización en tabletas */
    width: 100%; /* Asegurar ancho completo */
  }

  .btn-primary {
    font-size: 14px; /* Adecuado para dispositivos más pequeños */
    padding: 8px 16px; /* Padding más compacto */
    width: 80%; /* Utiliza menos ancho para adaptarse a pantallas más pequeñas */
  }
}

@media (max-width: 480px) {
  .button-container {
    top: 75%; /* Ajuste para pantallas de teléfonos */
  }

  .btn-primary {
    font-size: 12px; /* Reducción del tamaño de fuente para mejor adaptación */
    width: 90%; /* Uso del ancho completo para facilitar la accesibilidad */
    padding: 6px 10px; /* Reducción del padding */
  }
}

@media (max-width: 360px) {
  .button-container {
    top: 70%; /* Ajuste adicional para pantallas muy pequeñas */
  }
  .btn-primary {
    padding: 3px 10px; /* Padding aún más reducido */
    width: 90%; /* Uso del ancho completo */
  }
}
