/* 1. Custom 1 primera fase */
.custom-section {
    padding-top: 300px;
    padding-bottom: 300px;
    background-image: linear-gradient(to right, #000000, #1d1911, #353023);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
    position: relative;
}

.screenshot-container {
    position: absolute;
    width: 700px;
    height: 400px;
    left: 70%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.screenshot-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rabbit-screenshot {
    width: 250px;
    height: 240px;
    left: 38%;
    top: 55%;
    transform: rotate(6.27deg);
}

.text-container {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    max-width: 22%;
}

.text-container h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.text-container p {
    font-size: 1rem;
}

/* 2. Custom 2 Cards */
.custom-section2 {
    padding-top: 150px;
    background-image: linear-gradient(to right, #000000, #1d1911, #353023);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 45px;
}

.custom-section2 .card-1,
.custom-section2 .card-2,
.custom-section2 .card-3 {
    width: 25%;
    padding-bottom: 200px;
}

.custom-section2 img {
    width: 100%;
    object-fit: cover;
}

/* 3.1 Estilos personalizados para la sección de imágenes JS*/
.custom-section3 {
    padding-bottom: 100px;
    background-image: linear-gradient(to right, #000000, #1d1911, #353023);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.custom-section3 h1 {
    font-size: 3rem;
    margin-bottom: 50px;
    color: white;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-image {
    margin-right: 20px;
}

.side-images {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-image img {
    width: 900px;
    height: auto;
}

.side-images img {
    width: 150px;
    height: auto;
}

/* Media Queries para adaptación */

/* Custom 1 */
@media (max-width: 1024px) {
    .custom-section {
        padding-top: 200px;
        padding-bottom: 200px;
    }

    .screenshot-container {
        width: 600px;
        height: 350px;
    }

    .text-container h1 {
        font-size: 2.5rem;
    }

    .text-container p {
        font-size: 0.9rem;
    }

    .custom-section2 .card-1,
    .custom-section2 .card-2,
    .custom-section2 .card-3 {
        width: 30%;
    }

    .custom-section3 h1 {
        font-size: 2.5rem;
    }

    .main-image img {
        width: 700px;
    }

    .side-images img {
        width: 120px;
    }

    .rabbit-screenshot {
        width: 115px;
        height: auto;
        padding-top: 70px;
        
    }
}

@media (max-width: 768px) {
    .custom-section {
        flex-direction: column;
        padding-top: 90px;
        padding-bottom: 150px;
    }

    .screenshot-container {
        position: static;
        width: 100%;
        height: 100%;
        transform: none;
        margin: 0 auto; 
    }

    .rabbit-screenshot {
        display: none;
    }

    .text-container {
        position: static;
        transform: none;
        max-width: 80%;
        text-align: center;
        margin: 0 auto; /* Centrar el contenedor de texto */
    }

    .custom-section2 {
        flex-direction: column;
        padding-top: 100px;
    }

    .custom-section2 .card-1,
    .custom-section2 .card-2,
    .custom-section2 .card-3 {
        width: 80%;
        padding-bottom: 150px;
        margin: 0 auto; /* Centrar las tarjetas */
    }

    .main-image {
        margin-right: 0;
        margin-bottom: 20px;
        text-align: center; /* Centrar la imagen principal */
    }

    .main-image img {
        width: auto !important;
        height: 200px; 
        margin-top: 40px; 
        padding: 10px;
    }

    .side-images {
        display: flex;
        flex-direction: column; 
        gap: 10px;
        justify-content: center; 
        margin-top: 20px; 
    }

    .side-images img {
        width: 100px;
        height: auto; 
    }
}

@media (max-width: 480px) {

    .screenshot-container {
        width: 100%;
        height: 100%;
        transform: none;
        margin: 0 auto; 
    }
    
    .rabbit-screenshot {
        display: none;
    }

    .text-container h1 {
        font-size: 2rem;
    }

    .text-container p {
        font-size: 0.8rem;
    }

    .custom-section2 .card-1,
    .custom-section2 .card-2,
    .custom-section2 .card-3 {
        width: 100%;
        padding-bottom: 100px;
    }

    .custom-section3 h1 {
        font-size: 2rem;
    }

    .main-image img {
        width: 100%;
        height: 200px; 
        margin-top: 40px; 
    }

}