/* Estilos básicos para el footer */
#footer {
  color: #fff; /* Texto en blanco para alto contraste */
  padding: 20px; /* Reducción del padding vertical para reducir el espacio total */
  text-align: center; /* Centrado del texto */
  background-image: linear-gradient(to right, #4bc0c8, #c779d0, #feac5e); /* Gradiente de fondo */
}

#footer .container {
  width: 50%; /* Ajuste de ancho a full */
  margin: auto; /* Centrado automático */
}

#footer .centered-logo {
  display: block; /* Asegura que el logo es un bloque para centrarlo */
  margin: 0 auto 10px; /* Reducción del margen inferior para acercar el logo al texto */
  width: 7%; /* Tamaño del logo basado en el porcentaje del contenedor */
  height: auto; /* Altura automática para mantener la proporción */
  margin-top: 40px; /* Reducción del margen superior para acercar las líneas de texto */
}

#footer h4 {
  font-size: 16px; /* Tamaño de fuente para legibilidad */
  line-height: 0.1; /* Reducción del espaciado de línea para juntar más el texto */
  margin-top: 10px; /* Reducción del margen superior para acercar las líneas de texto */
  margin-bottom: 10px; /* Reducción del margen inferior */
}

#footer .footer-link {
  color: #fff; /* Color blanco para los enlaces */
  text-decoration: none; /* Elimina el subrayado de los enlaces */
  transition: color 0.3s ease; /* Transición suave para los cambios de color */
}

#footer .footer-link:hover {
  color: #4bc0c8; /* Cambia el color al pasar el ratón */
}

/* Media Queries para adaptación a diferentes tamaños de pantalla */
@media (max-width: 1024px) {
  #footer .container {
    width: 70%; /* Aumentar el ancho en pantallas más pequeñas para mejor ajuste */
  }

  #footer .centered-logo {
    width: 10%; /* Ajustar el tamaño del logo para visibilidad */
  }
}

@media (max-width: 768px) {
  #footer {
    padding: 15px; /* Reducir aún más el padding para ahorrar espacio */
  }

  #footer h4 {
    font-size: 14px; /* Reducir el tamaño de la fuente para mejorar la legibilidad */
  }

  #footer .container {
    width: 80%; /* Ajustar el ancho del contenedor para una mejor visualización */
  }

  #footer .centered-logo {
    margin-top: 20px; /* Menor espacio por encima del logo */
  }
}

@media (max-width: 480px) {
  #footer {
    padding: 10px; /* Minimizar el padding en dispositivos muy pequeños */
  }

  #footer h4 {
    font-size: 12px; /* Tamaño de fuente más pequeño para pantallas de teléfonos */
  }

  #footer .centered-logo {
    width: 15%; /* Ajustar el tamaño del logo para que sea más visible */
    margin-top: 10px; /* Reducir el espacio superior para compactar el diseño */
  }
}
