

/* Estilos básicos para el footer */
#footer {
  color: white;  
  padding: 20px 0; 
  text-align: center;  
  background-image: linear-gradient(to right, #4bc0c8, #c779d0, #feac5e); 
}

#footer .container {
  max-width: 960px;  
  width: 100%;  
  margin: 0 auto;  
}

#footer .centered-logo {
  display: block;  
  margin: 40px auto 10px;  
  width: 50px;  
  height: auto; 
}


#footer .footer-link {
  color: white;  
  text-decoration: none;  
  transition: color 0.3s ease;  
}

.text-center {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 12px;
}

#footer .footer-link:hover {
  color: #4bc0c8;  
}

/* Media Queries para adaptación a diferentes tamaños de pantalla */
@media (max-width: 1024px) {
  #footer .container {
    max-width: 80%;  
  }

  #footer .centered-logo {
    width: 60px;  
  }
}

@media (max-width: 768px) {
  #footer {
    padding: 15px 0;  
  }

  #footer h4 {
    font-size: 0.875rem;  
  }

  #footer .centered-logo {
    width: 55px;  
    margin-top: 20px;  
  }
}

@media (max-width: 480px) {
  #footer h4 {
    font-size: 0.75rem;  
  }

  #footer .centered-logo {
    width: 50px;  
  }
}
