  /* Estilos base para la navegación */
  #navegador {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    padding: 10px 0;
  }

  #navegador .container-fluid {
    width: 90%;
    margin: auto;
  }

  #navegador a {
    color: white;
    font-size: 20px;
    font-weight: 900;
    margin: 10px;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }

  #navegador a:hover {
    color: #87CEFA;
  }


  .logo-container {
    position: absolute;
    transform: translate(-10%, -50%); 
    z-index: 10; 
    width: auto; 
    display: block; 
  }

  #navegador a {
    color: white; 
    font-size: 20px; 
    font-weight: 900; 
    margin: 10px; 
    text-decoration: none; 
    transition: color 0.3s ease-in-out; 
  }

  #navegador a:hover {
    color: #C779D0 
  }

  .navbar-brand img {
    width: 100%;
    max-width: 180px; 
  }

  #navegador .nav-link {
    font-size: 16px; 
    margin: 5px; 
    padding: 5px; 
  }



/* Media Queries para mejorar la responsividad */
@media (max-width: 1024px) {

  .logo-container {
    max-width: 150px; 
  }
}

@media (max-width: 768px) {
  .logo-container {
    max-width: 80px; 
  }
  #navegador{
    background-color: black !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    
  }

  .img-fondo {
    margin-top: 8%; 
  }


  .navbar-nav .nav-link h5 {
    font-size: 14px; 
  }

  #navegador a {
    font-size: 16px; 
  }

  .logo-kirakira{
    max-width: 170px; 
    margin-bottom: 60px;
  }

  .logo-kirakira-information{
    max-width: 170px; 
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  #navegador{
    background-color: black !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  }

  #navegador .navbar-toggler {
    margin-right: 10px; 
  }


  .logo-container {
    width: 10%; 
  }

  .navbar-nav .nav-link h5 {
    font-size: 12px;
  }

  #navegador .nav-link {
    padding: 2px; 
  }
  #navegador {
    height: -100%;
  }
  .logo-kirakira-information{
    max-width: 90px; 
    margin-bottom: -5px;
  }
  .logo-kirakira{
    max-width: 100px; 
    margin-bottom: 50px;
  }
}

@media (max-width: 360px) {
  #navegador {
    background-color: black !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  }

  
  #navegador .navbar-toggler {
    margin-right: 5px; 
  }

  .logo-container {
    width: 10%; 
  }

  .navbar-nav .nav-link h5 {
    font-size: 12px; 
  }

  #navegador .nav-link {
    padding: 2px; 
  }
  #navegador {
    height: -100%;
  }
  .logo-kirakira-information{
    max-width: 60px; 
    margin-bottom: -20px;
  }
  .logo-kirakira{
    max-width: 65px; 
    margin-bottom: 35px;
  }
  
}