/* Estilos base para dispositivos con pantalla menor a 1024px */
@media (max-width: 1024px) {
    html, body {
        max-height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden; /* Evita desplazamiento horizontal */
        overflow-y: auto; /* Permite desplazamiento vertical si necesario */
    }
    
    .steam-icon-container, .logo-container {
        display: none; 
    }

    .button-container {
        padding: 10px; /* Padding uniforme */
        width: 100%; /* Ajuste de ancho para mejor accesibilidad */
        bottom: 10%; /* Ajuste de posición para accesibilidad */
        position: absolute; /* Posicionamiento absoluto para sobreponerse correctamente */
        left: 50%; /* Centralización */
        transform: translateX(-50%); /* Alineación precisa */
        font-size: 14px; /* Ajuste del tamaño de fuente para legibilidad */
    }
}

/* Estilos para dispositivos con pantalla menor a 768px */
@media (max-width: 768px) {
    .contenedores .card {
        margin: 20px; /* Margen reducido para más espacio */
        padding: 10px; /* Padding reducido para más espacio de contenido */
        max-height: 75vh; /* Ajuste de altura máxima para evitar desbordamiento */
    }
    .steam-icon-container, .logo-container {
        display: none; /* Oculta iconos no necesarios en pantallas muy pequeñas */
    }
}

/* Estilos para dispositivos con pantalla menor a 480px */
@media (max-width: 480px) {
    .contenedores .card {
        margin: 10px; /* Margen aún más reducido para maximizar el espacio */
    }
    .steam-icon-container, .logo-container {
        display: none; /* Continúa ocultando iconos en las menores resoluciones */
    }
}

@-moz-document url-prefix() {
    .vector {
        width: auto; /* Ajuste específico para Firefox */
    }
    #acerca .contenedor-interior {
        padding: auto; /* Ajustes adicionales si es necesario */
    }
}
