/* Estilos base para dispositivos con pantalla menor a 1024px */
@media (max-width: 1024px) {
    html, body {
        max-height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden; /* Evita desplazamiento horizontal */
        overflow-y: auto; /* Permite desplazamiento vertical si necesario */
    }
    
    .steam-icon-container, .logo-container {
        display: none; 
    }

    .button-container {
        padding: 10px; 
        width: 100%; 
        bottom: 10%; 
        position: absolute;
        left: 50%; 
        transform: translateX(-50%); 
        font-size: 14px; 
    }
}

/* Estilos para dispositivos con pantalla menor a 768px */
@media (max-width: 768px) {
    .contenedores .card {
        margin: 20px; 
        padding: 10px; 
        max-height: 75vh; 
    }
    .steam-icon-container, .logo-container {
        display: none; 
    }
}

/* Estilos para dispositivos con pantalla menor a 480px */
@media (max-width: 480px) {
    .contenedores .card {
        margin: 10px; 
    }
    .steam-icon-container, .logo-container {
        display: none; 
    }
}

@-moz-document url-prefix() {
    .vector {
        width: auto; 
    }
    #acerca .contenedor-interior {
        padding: auto; 
    }
}
