RewriteEngine On

# Reescribir solo si la solicitud no es por un directorio existente
RewriteCond %{REQUEST_FILENAME} !-d

# Reescribir solo si la solicitud no es por un archivo existente
RewriteCond %{REQUEST_FILENAME}.html -f

# Reescribir a ".html"
RewriteRule ^(.+)$ $1.html [L,QSA]

# Redirigir para eliminar la extensión .html si se accede directamente
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /.*\.html\ HTTP/
RewriteRule ^(.+)\.html$ /$1 [R=301,L]
