<IfModule mod_rewrite.c>
    DirectoryIndex index.html
    RewriteEngine On
    # Si la solicitud no corresponde a un archivo real...ddddddd
    RewriteCond %{REQUEST_FILENAME} !-f
    # Y tampoco a un directorio real...
    RewriteCond %{REQUEST_FILENAME} !-d
    # Entonces, reescribe la URL añadiendo .html al final (internamente en el servidor)
    RewriteRule ^([^\.]+)$ $1.html [NC,L]
</IfModule>